.container {
	display:flex;
	height:100vh;
	flex-direction:column;
}
.header {
	height:10%;
	width: 100%;
	background:#F5F5F5 ;
	/* background-size:100% 100%; */
	/* background-repeat:no-repeat; */
	text-shadow: 3px -3px 3px #CDAD00;
	color:#8B1A1A;
	text-indent:30vw;
	text-align:left;
	text-justify:inter-word;
	font-size: 2vh;
	font-style:italic;
	/* cursor: pointer; */
}
.index-content {
	text-align:center;
	text-shadow: 3px -3px 3px #CDAD00;
	align-items: center;
	justify-content: center;
	/* width: 100%; */
	height: 70%;
	font-size: 6vh;
	/* line-height: 100%; */
	/* border: 1px solid #000000; */
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
	/* word-break: break-all; */
}
.menu-content {
	position:relative;
	bottom:-10%;
	text-align:center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70%;
	font-size: 14px;
	line-height: 100%;
	/* border: 1px solid #000000; */
	overflow-x: hidden;
	overflow-y: hidden;
	/* word-break: break-all; */
}
a {
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
}
.pages {
	text-align:center;
	font-size: 14px;
	line-height: 100%;
}
.footer {
	position:relative;
	bottom:-10%;
	height:10%;
	/* background:#F5F5F5; */
	background:url(image/footer-background.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	clear:both;
	text-align:center;
	font-size:2vh;
}
